<h1>Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
  <li>
    <% if task.completed %>
        <input type="checkbox" checked>
      <% else %>
        <input type="checkbox">
      <% end %>
      <%= link_to task.title, task_path(task) %>
      <%= link_to "DELETE", task_path(task), method: :delete, data: {confirm: 'Are you sure?'} %>
  </li>
  <% end %>
</ul>

<p><%= link_to "Create new Task", new_task_path %></p>
